[Unit]
Description=Change the wallpaper
Wants=wallpaper.timer

[Service]
Type=oneshot
ExecStart=/path/to/waller

[Install]
WantedBy=multi-user.target
